---
import Layout from '../layouts/Layout.astro';
import Label from '../components/Label.astro';
---

<Layout>
	<main>
		<section class="w-11/12 lg:w-[740px] mx-auto  py-20">
			<img src="yo.jpeg" alt="Valentino Gasipi Falabella" class="rounded-full w-24 h-24 mb-4">

			<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 items-center pb-4">Hey, I'm Valentino <div class="text-lg">
				<Label>Available for hire</Label>	
			</div></h1>
		<h2 class="text-xl opacity-80">2 years of experience designing and developing websites while continuously learning new technologies. I focus on providing modern, responsive (mobile-first) designs. I also have knowledge in IoT (Internet of Things), Digital Marketing, Servers, and Data Analysis.</h2>
		</section>
	</main>
</Layout>
