---
import Layout from '../layouts/Layout.astro';
import Label from '../components/Label.astro';
import IntroSocial from '../components/IntroSocial.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Github from '../components/icons/Github.astro';
import Bento from '../components/icons/Bento.astro';
import Mail from '../components/icons/Mail.astro';
---

<Layout title="Porfolio de Valentino Gasipi - Desarrollador y Programador Web con 2 años de experiencia" description="">
	<main>
		<section class="w-11/12 lg:w-[740px] mx-auto  py-20">
			<img src="yo.jpeg" alt="Valentino Gasipi Falabella" class="rounded-full size-24 mb-4">

			<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 items-center pb-4">Hey, I'm Valentino <div class="text-lg">
				<Label>Available for hire</Label>	
			</div></h1>
		<h2 class="text-2xl  text-wrap"><span class="text-blue-300">2 years of experience</span> 
		<span class="opacity-80">designing and developing websites while continuously learning new technologies. I focus on providing</span> <span class="text-blue-300 opacity-100">modern and responsive (mobile-first) designs.</span>
		</h2>

		<nav class="flex gap-6 mt-4">
				<IntroSocial href="https://www.linkedin.com/in/valentino-gasipi-470100252/">
					<Linkedin/>
					LinkedIn
				</IntroSocial>

				<IntroSocial href="https://github.com/GasipiValentino">
					<Github/>
					GitHub
				</IntroSocial>

				<IntroSocial href="https://bento.me/valen-gasipi">
					<Bento/>
					Bento
				</IntroSocial>

				<IntroSocial href="https://bento.me/valen-gasipi">
					<Mail/>
					valentinogasipi@gmail.com
				</IntroSocial>
		</nav>

		</section>
	</main>
</Layout>
