---
 const personalImageAlt = "Valentino Gasipi Falabella"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal  text-pretty order-2 md:order-1"
  >
    <p>
      My name is Valentino. <strong
        >With a degree in Web Design and Programming,</strong
        > I've spent the past 2 years working on projects ranging from small business websites to interactive web applications. My journey began with a simple curiosity about how websites work, which grew into a career <strong>I truly enjoy.</strong>
    </p>

    <p> Over the years, I've honed my expertise in creating <strong>user-centric designs</strong> and writing <strong>clean, efficient code</strong>. I specialize in modern web technologies like <em>Vue.js, Laravel, Tailwind, JavaScript, etc</em>, and I thrive on turning ideas into engaging digital experiences. </p> 

    <p> Whether it's solving complex problems, collaborating with diverse teams, or exploring innovative design solutions, <strong>I'm passionate about every step of the creative process.</strong> My goal is to not only meet expectations but to exceed them, ensuring that every project stands out in functionality and design. </p> 
    
    <p> Outside of coding, I enjoy watching soccer, which inspires me to approach challenges with fresh perspectives. </p>
  </div>

  <img width="200" height="200" src="/yo.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-blue-500/20 dark:bg-sky-500/40 hover:rotate-12 transition-all " style="object-position: 50% 50%">

</article>