<a href="https://www.linkedin.com/in/valentino-gasipi-470100252/" target="_blank" rel="noopener" class="bg-sky-100 text-sky-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-sky-400 border border-sky-400">

    
    <slot></slot>
</a>
